//
// Bootstrap docs content theming
//

.docs-content {
  // Offset content from fixed navbar when jumping to headings
  > :target {
    padding-top: 5rem;
    margin-top: -5rem;
  }

  > h2:not(:first-child) {
    margin-top: 3rem;
  }

  > h3 {
    margin-top: 2rem;
  }

  > ul li,
  > ol li {
    margin-bottom: .25rem;

    // stylelint-disable selector-max-type, selector-max-compound-selectors
    > p ~ ul {
      margin-top: -.5rem;
      margin-bottom: 1rem;
    }
    // stylelint-enable selector-max-type, selector-max-compound-selectors
  }

  // Override Bootstrap defaults
  > .table,
  > .table-responsive .table {
    margin-bottom: 1.5rem;
    @include font-size(.875rem);

    @include media-breakpoint-down(lg) {
      &.table-bordered {
        border: 0;
      }
    }

    thead {
      border-bottom: 2px solid currentcolor;
    }

    tbody:not(:first-child) {
      border-top: 2px solid currentcolor;
    }

    th,
    td {
      &:first-child {
        padding-left: 0;
      }

      &:not(:last-child) {
        padding-right: 1.5rem;
      }
    }

    // Prevent breaking of code
    // stylelint-disable-next-line selector-max-compound-selectors
    th,
    td:first-child > code {
      white-space: nowrap;
    }
  }
}

.table-options {
  td:nth-child(2) {
    min-width: 160px;
  }
}

.table-options td:last-child,
.table-utilities td:last-child {
  min-width: 280px;
}

.docs-title {
  @include font-size(3rem);
}

.docs-lead {
  @include font-size(1.5rem);
  font-weight: 300;
}

.bi {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.icon-link {
  display: flex;
  align-items: center;
  text-decoration-color: rgba($primary, .5);
  text-underline-offset: .5rem;
  backface-visibility: hidden;

  .bi {
    width: 1.5em;
    height: 1.5em;
    transition: .2s ease-in-out transform; // stylelint-disable-line property-disallowed-list
  }

  &:hover {
    .bi {
      transform: translate3d(5px, 0, 0);
    }
  }
}

.border-lg-start {
  @include media-breakpoint-up(lg) {
    border-left: $border-width solid $border-color;
  }
}

// scss-docs-start custom-color-mode
[data-coreui-theme="blue"] {
  --cui-body-color: var(--cui-white);
  --cui-body-color-rgb: #{to-rgb($white)};
  --cui-body-bg: var(--cui-blue);
  --cui-body-bg-rgb: #{to-rgb($blue)};
  --cui-tertiary-bg: #{$blue-600};

  .dropdown-menu {
    --cui-dropdown-bg: #{mix($blue-500, $blue-600)};
    --cui-dropdown-link-active-bg: #{$blue-700};
  }

  .btn-secondary {
    --cui-btn-bg: #{mix($gray-600, $blue-400, .5)};
    --cui-btn-border-color: #{rgba($white, .25)};
    --cui-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
    --cui-btn-hover-border-color: #{rgba($white, .25)};
    --cui-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
    --cui-btn-active-border-color: #{rgba($white, .5)};
    --cui-btn-focus-border-color: #{rgba($white, .5)};
    --cui-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
  }
}
// scss-docs-end custom-color-mode
