//
// Footer
//

.footer {
  --cui-footer-color: var(--cui-body-color);
  --cui-footer-bg: #f0f4f7;
  --cui-footer-border-color: var(--cui-border-color);
  @include font-size(.875rem);

  a {
    color: rgba(var(--cui-body-color-rgb), 50%);
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-color;
      text-decoration: underline;
    }
  }
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .footer  {
      --cui-footer-bg: #212529;
    }
  }
}

